<%- include('header'); -%>
    <div class="content">
        <h1>Contacts</h1>
        <table>
            <tr>
                <td>Sale services</td>
                <td>Mr. Xavier Dupont</td>
                <td>+971(0)567432123</td>
            </tr>
            <tr>
                <td>Client services</td>
                <td>Ms. Jeannette Durand</td>
                <td>+971(0)567432187</td>
            </tr>
        </table>
    </div>
    <%- include('footer'); -%>